.app {
  @apply w-full bg-white overflow-hidden font-manrope;
  @apply pc:py-[73px];
  @apply phone:py-8 phone:px-6;

  .container {
    @apply mx-auto flex flex-col items-center;
    @apply pc:w-[1016px];
    @apply phone:gap-6;
  }

  .title {
    @apply font-semibold text-black text-center capitalize;
    @apply pc:text-[40px] pc:mb-12;
    @apply phone:text-[20px] phone:leading-[150%];
  }

  .card {
    @apply w-full rounded-2xl overflow-hidden relative;
    @apply pc:py-12 pc:px-8;
    @apply phone:py-6 phone:px-5;
    background: linear-gradient(180deg, #f7f9fc, #f0f3f7);
  }

  .card-line {
    @apply absolute border-r border-black/10;
    @apply pc:left-[47.5px];
    @apply phone:left-[31.5px];
  }

  .rules {
    @apply flex flex-col;
    @apply pc:gap-8;
    @apply phone:gap-6;
  }

  .rule-item {
    @apply flex items-start;
    @apply pc:gap-6;
    @apply phone:gap-4;
  }

  .rule-number {
    @apply rounded-full flex items-center justify-center text-white font-medium capitalize shrink-0 relative;
    @apply pc:w-8 pc:h-8 pc:min-w-[32px] pc:min-h-[32px] pc:text-[16px] pc:leading-[24px] pc:mt-[6px];
    @apply phone:w-6 phone:h-6 phone:min-w-[24px] phone:min-h-[24px] phone:text-[12px] phone:leading-[18px];

    &::after {
      content: '';
      @apply absolute inset-0 rounded-full bg-[#f4f6f9] -z-10;
    }
  }

  .rule-content {
    @apply flex flex-col;
    @apply pc:gap-4;
    @apply phone:gap-2;
  }

  .rule-title {
    @apply font-semibold text-black;
    @apply pc:text-[32px];
    @apply phone:text-[16px];
  }

  .rule-desc {
    @apply font-medium text-textGray;
    @apply pc:text-[14px] pc:leading-[24px];
    @apply phone:text-[12px] phone:leading-[150%] phone:opacity-40;
  }
}
