@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  @apply my-0 p-0;
}

img {
  @apply select-none;
  -webkit-user-drag: none;
  user-drag: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply pc:min-w-[1200px] overflow-x-hidden;
}

.wow[class*='animate__'] {
  animation-duration: 1s;
  animation-delay: 0.2s;
}
